<h1>Welcome to {{hotelName}}</h1>

<div [hidden]="hideRooms">
    Numbers of Rooms :
    <div [ngStyle]="{'color': rooms.availableRooms ? 'red' : 'red'}" [innerText]="numberOfRooms"></div>
</div>

{{ rooms?.availableRooms ?? "No rooms" }}

<div *ngIf="selectedRoom">
    {{ selectedRoom | json }}
</div>

<div>
    <button (click)="addRoom()">Add Room</button>
</div>

<div *ngIf="rooms.availableRooms > 0">
   <hinv-rooms-list [rooms]="roomList" (selectedRoom)="selectRoom($event)"></hinv-rooms-list>
</div>


<button (click)="toggle()">Toggle</button>