<!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)"> -->
<input #sendInput type="text" class="form-control" (input)="isPresent(sendInput.value)" [(ngModel)]="serverName" >

<!-- <p>{{ serverName }}</p> -->


<!-- Property binding to disabled attributes -->
<!-- <button class="btn btn-primary" [disabled]="serverName === ''" (click)="serverName = ''">Add Server</button> -->
<button class="btn btn-primary" [disabled]="serverName === ''" (click)="onCreateServer()">Add Server</button>

<p *ngIf="checkBtnClick; else noServer">Server was created , Server name is {{serverName}}</p>

<ng-template #noServer>
    <p>No server was found</p>
</ng-template>

<!-- Component is called twice -->

<!-- <p [innerText]="allowNewServer"></p> -->

<!-- <p>{{ serverCreationStatus }}</p> -->

<app-server></app-server>
<app-server></app-server>